<div class="col-md-4">
    <div class="card api-card">
        <div class="card-header bg-danger text-white fw-bold">
            <i class="bi bi-chat"></i> API Reviews
        </div>
        <ul class="list-group list-group-flush api-list">
            <li class="list-group-item">
                <a href='{% url "reviews:detail" 2 %}' 
                    title="
                        Thông Tin
                        Product ID = 2 (Túi Xách Nhỏ Shoulder Bag Trang Trí Khóa Logo Cách Điệu)
                        GET : Hiển thị bình luận của Sản Phẩm 
                        POST (Token) : Bình Luận Sản Phẩm
                        PUT (Token) : Thay Đổi Lại Nội Dung Bình Luận
                        DELETE (Token) : Xóa Bình Luận 
                    "
                >
                    💬 Review Product (ID Product =2)
                </a>
            </li>

        </ul>
    </div>
</div>
