<div class="col-md-4">
    <div class="card api-card">
        <div class="card-header bg-success text-white fw-bold">
            <i class="bi bi-box"></i> API Products
        </div>
        <ul class="list-group list-group-flush api-list">
            <li class="list-group-item">
                <a href='{% url "products:product-list" %}' 
                    title="GET : Danh Sách Toàn Bộ Sản Phẩm"
                >
                    📦 Product List
                </a>
            </li>

            <li class="list-group-item">
                <a href='{% url "products:product-detail" 2 %}' 
                    title="GET : Thông Tin Chi Tiết Sản Phẩm có ID=2 (Túi Xách Nhỏ Shoulder Bag Trang Trí Khóa Logo Cách Điệu)"
                >
                    📦 Product Detail (id=2)
                </a>
            </li>

            <li class="list-group-item">
                <a href='{% url "products:category-list" %}' 
                    title="GET (Token) : Danh Sách Danh Mục"
                >
                    📦 Category List
                </a>
            </li>
        </ul>
    </div>
</div>
