<div class="col-md-4">
    <div class="card api-card">
        <div class="card-header bg-info text-white fw-bold">
            <i class="bi bi-chat"></i> API Orders
        </div>
        <ul class="list-group list-group-flush api-list">
            <li class="list-group-item">
                <a href='{% url "orders:create_order" %}'
                        title="POST (Token) : Tạo Đơn Hàng 
                        (Lấy Toàn Bộ Sản Phẩm trong Giỏ Hàng tạo Thành 1 Đơn Hàng sau đó Xóa Hết Sản Phẩm Trong Giỏ Hàng)"
                    >
                        Create Order 
                </a>
            </li>
            
        </ul>
    </div>
</div>
