{% extends "home/layout.html" %}

{% block head %}
    <title>Bạn đã bị khóa đăng nhập</title>
{% endblock head %}

{% block body %}
    <div style="text-align: center; padding: 50px;">
        <h1 style="color: red;">Tài khoản của bạn đã bị khóa!</h1>
        <p>Do bạn đã nhập sai mật khẩu quá nhiều lần, hệ thống đã tạm thời khóa đăng nhập..</p>
        <p>Vui lòng thử lại sau hoặc liên hệ với quản trị viên để được hỗ trợ.</p>
        <a href="/" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Quay lại Trang Chủ</a>
    </div>
{% endblock body %}
