{% extends "home/layout.html" %}
{% load static %}

{% block head %}
    <title>Bạn Đã Bị Chặn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href='{% static "home/css/rate_limit.css" %}'>
{% endblock head %}

{% block body %}
    <div class="container">
        <i class="fas fa-exclamation-circle icon"></i>
        <h1>Bạn Đã Bị Chặn Trong Giây Lát!</h1>
        <p>Do bạn đã gửi quá nhiều yêu cầu! Hãy thử lại sau 7 giây.</p>
        <p>Vui lòng thử lại sau ít phút.</p>
        <a href="/" class="btn-primary">Quay lại Trang Chủ</a>
    </div>
    <script src="{% static 'home/js/rate_limit.js' %}"></script>
{% endblock body %}